*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: #f0f0f0;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container{
  max-height: 200px;
  border-width: 5px;
  background-color: #333;
}

.img-container img{
  width: 325px;
  height: 200px;
  object-fit: contain;
}

.text-container{
  padding: 16px;
}

.text-container h3{
  /*title text*/ 
  font-size: 20px;
  margin-top: 0px;
}

.info-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 12px 16px;
}

.info-footer b,
.info-footer a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.info-footer a:hover {
  text-decoration: underline;
}